
  <div class="row">
    <div class="col-xs-12">
      <button class="btn btn-success"
              (click)="onEditLabel()">
        Edit label
      </button>
      <button class="btn btn-danger"
              (click)="onDeleteLabel()">
        Delete label
      </button>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      Name : <span>{{label.name}}</span>
    </div>
    <div class="col-md-12">
      Description : <span>{{label.description}}</span>
    </div>
    <div class="col-md-12">
      Color : <span [ngStyle]="{'background-color':label.color}">{{label.color}}</span>
    </div>
    <div class="col-md-12">
      Image : <img [src]="label.imagePath"
                   alt="{{label.name}}"
                   style="max-height: 350px; max-width: 250px"/>
    </div>
  </div>

