<a class="list-group-item clearfix"
   style="margin-top: 5px; cursor:pointer"
   [routerLink]="[person.id]"
   routerLinkActive="active">
  <div class="pull-left">
    <div class="list-group-item-heading">{{person.firstname}} {{person.lastname}}</div>
    <div class="list-group-item-text">{{person.description}}</div>
  </div>
  <div class="pull-right">
    <img [src]="person.imagePath"
         alt="{{person.name}}"
         class="img-responsive"
         style="max-height:50px" />
  </div>
</a>
