<div class="container">
  <div class="row">
    <div class="col-md-4">
      <app-person-mode-selector></app-person-mode-selector>
    </div>
  </div>
  <div class="row">
    <div class="col-md-4">
      <ul class="nav navbar-nav">
        <li appDropdown class="dropdown" [ngStyle]="{backgroundColor: selectedLabelColor}">
          <a curson="cursor:pointer" class="dropdown-toggle" role="button">
            Label
            <span class="caret"></span>
          </a>
          <ul class="dropdown-menu">
            <li *ngFor="let label of labels"
                [ngStyle]="{backgroundColor: label.color}">
              <a style="cursor: pointer"
                 (click)="onLabelSelect(label)">
                {{label.name}}
              </a>
            </li>
          </ul>
        </li>
      </ul>
    </div>
    <div class="col-md-8" [ngStyle]="{backgroundColor: selectedLabelColor}">
      <label>{{selectedLabelName}}</label>
    </div>
  </div>
  <div class="row">
    <router-outlet></router-outlet>
  </div>
</div>
