<div class="row">
  <div class="col-xs-12">
    <button class="btn btn-success"
            (click)="onEditPerson()">
      Edit person
    </button>
    <button class="btn btn-danger"
            (click)="onDeletePerson()">
      Delete person
    </button>
  </div>
</div>
<div class="row">
  <div class="col-md-offset-1">Name : {{person.firstname}} {{person.lastname}}</div>
  <div class="col-md-offset-2"></div>
</div>
<div class="row">
  <div class="col-md-offset-1">Imape : <img [src]="person.imagePath" alt="{{person.firstname}} {{person.lastname}}" /></div>
</div>

<hr />

<div class="row" *ngFor="let currentLabel of person.labels">
  <div class="col-md-offset-1">
    <label [ngStyle]="{'background-color':currentLabel.color}">{{currentLabel.name}} - {{currentLabel.color}}</label>
  </div>
</div>
